# maintain the latest version
celery==5.3.4
coverage==7.3.1
cryptography==41.0.3
ddt==1.6.0
djangorestframework
django-storages
edx-celeryutils==1.2.3
edx-lint==5.3.4
edx-opaque-keys
edx-submissions==3.6.0
jsonfield==3.1.0
mako==1.2.4
pdbpp==0.10.3
pylint==2.17.5
pylint-celery==0.3
pylint-django==2.5.3
pyOpenSSL==23.2.0
pytz==2023.3
pytest==7.4.2
pytest-cov==4.1.0
pytest-django==4.5.2
six==1.16.0
tox
tox-battery

xblock-utils==3.4.1
xblock-sdk==0.7.0
